<!DOCTYPE html>
<html>
<head><title>College Registration</title></head>
<body>
    <h1>College Registration Form</h1>
    <form action="/submit" method="post">
        Name: <input type="text" name="name"><br><br>
        Age: <input type="number" name="age"><br><br>
        Email: <input type="email" name="email"><br><br>
        Phone: <input type="tel" name="phone"><br><br>
        Course: <input type="text" name="course"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>